*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    /* background-color: aquamarine; */
    padding: 16px 55px;

}
.imagee img{
    height: 55px;
}
.imagee{
    width: 20%;
}
.items{
    width: 60%;
    text-align: center;
    padding-top: 20px;
}
.items a{
    padding: 15px 20px;
    margin: 0px 5px;
    /* background-color: blueviolet; */
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 550;
}
.butt button{
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #00baf2;
    color: white;
    border: none;
    font-weight: 700;
}
.butt{
    width: 20%;
    text-align: right;
    padding-top: 10px;
    
}
#body2{
    display: flex;
    padding: 140px 0px;
}
.body21{
    width: 50%;
    text-align: left;
    /* background-color: aquamarine; */
    padding: 0px 150px;
}
.body21 img{
    height: 80px;
}
.body21 h1{
    font-size: 55px;
    font-family: sans-serif;
    line-height: 70px;
}
.bod{
    text-align: center;

    padding: 17px 0px;
    font-family: sans-serif;
    background-color: rgb(242, 242, 242);
}
.body21 p{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;
    padding-top: 10px;
}
i{
    /* filter: invert(100%); */
}
.body22{
    width: 50%;
    text-align: right;
}
.body22 img{
    height: 500px;
}
.body21 button{
    margin-top: 20px;
    padding: 14px 29px;
    border-radius: 30px;
    border: none;
    background-color: black;
    /* word-spacing: 2px; */
    color: white;
    font-size: 17px;
}

#body3{
    background-color: #00baf2;
    padding: 30px 100px;
    /* height: 400px; */
}
#body31{
    display: flex;
    /* width: 80%;
    margin: auto; */
}
.items2 img{
    height: 60px;
}
.items2{
    /* background-color: aquamarine; */
    margin: 10px 18px;
    padding: 10px 32px;
    border-radius: 10px;
}
.items2 p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 20px;
    line-height: 23px;
    width: 82px;
}
#body3 h2{
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    margin: 36px 39px;
    

}
#body4{
    background-color: #0f4a8a;
    padding: 30px 100px;
    /* height: 400px; */
}
#body41{
    display: flex;
    /* width: 80%;
    margin: auto; */
}
.items2 img{
    height: 60px;
}
.items2{
    /* background-color: aquamarine; */
    margin: 10px 18px;
    padding: 10px 32px;
    border-radius: 10px;
}
.items2 p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 15px;
    line-height: 23px;
    width: 82px;
}

#body4 h2{
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    margin: 36px 39px;
    

}
#body41 p{
    font-weight: bold;
}